html,body{
  margin:0px;
  padding:0px;
  
  width:100%;
  height:100%;
   background: linear-gradient(to right, rgb(0, 195, 255), yellow, rgb(10, 83, 41));
}
table{
       padding:2px;
       width:70%;
       font-size: 20px; 
       font-weight: bold;
       font-style:normal;
       border:2px solid black;
       border-radius:20px;
       margin-top:80px;
       justify-content: center;
       align-items: center;
       border-collapse: separate;
          background: linear-gradient(to right, rgb(97, 158, 176), rgb(224, 224, 91), rgb(97, 198, 139));
       text-shadow: 50px;
       background: transparent;

}
 input{
        width:80%;
        height:35px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        color:black;
        
 }
 button{
         font-size: 30px;
         border-radius: 10px;
         background-color: rgb(109, 99, 99);
         color: aliceblue;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
}
#button{
          justify-content: center;
          margin-left: 80px;
}
td{
  color:rgb(11, 10, 10);
  justify-content: center;
}
input::before{
      cursor:alias;
}
input:hover{
  cursor: pointer;
      background-color:lightgray;
      color:rgb(29, 27, 27);
      font-weight: bold;

}
#message{
          width:80%;
          height: 60px;
}